_site/
.sass-cache/
auto/
/syllabus/syllabus.tex
/slides/intro-and-founding.tex
/slides/liberties-and-rights.tex
/slides/federalism.tex
/slides/.Rhistory
/slides/congress.tex
/slides/courts.tex
/slides/president-and-executive.tex
/slides/the-primary-system.tex
/slides/political-parties.tex
