_site/
.sass-cache/
auto/
/syllabus/syllabus.tex
/slides/intro-and-founding.tex
/slides/liberties-and-rights.tex
/slides/federalism.tex
/slides/.Rhistory
/slides/congress.tex
/slides/courts.tex
/slides/president-and-executive.tex
/slides/the-primary-system.tex
/slides/gss2014.zip
/slides/gss2014/GSS2014.DTA
/slides/public-opinion.tex
/slides/political-parties.tex
/slides/campaigns-and-elections.tex
/slides/interest-groups.tex
